<div class="ui very padded tertiary segment">
    <div class="ui grid container">
        <div class="eight wide column">
            <div class="ui list">
                <div class="item">
                    <i class="building icon"></i>
                    <div class="content">
                        <p class="header">Head & Sales Office</p>
                    </div>
                </div>
                <div class="item">
                    <i class="marker icon"></i>
                    <div class="content">27 Mohamed Tawfik Diab, Makram Obeid, Nasr City, Cairo, Egypt.</div>
                </div>
                <div class="item">
                    <i class="phone icon"></i>
                    <div class="content">+2 0102 66 11 946</div>
                </div>
                <div class="item">
                    <i class="mail icon"></i>
                    <div class="content">
                        <a href="mailto:info.eg@edu-fun.com">info.eg@edu-fun.com</a>
                    </div>
                </div>
                <div class="item">
                    <i class="industry icon"></i>
                    <div class="content">
                        <p class="header">Factory</p>
                    </div>
                </div>
                <div class="item">
                    <i class="marker icon"></i>
                    <div class="content">10th Of Ramadan, Egypt.</div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui link list">
                <div class="active item">Standards</div>
                <a class="item">Child Development & Milestones</a>
                <a class="item">Safety & Certificates</a>
                <a class="item">Room Concept Idea</a>
                <a class="item">Vision & Mission</a>
                <a class="item">Size Guide</a>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui link list">
                <div class="active item">More Information</div>
                <a class="item">History</a>
                <a class="item">About Us</a>
                <a class="item">Why Egypt</a>
                <a class="item">Catalogues</a>
                <a class="item">Contact Us</a>
            </div>
        </div>
    </div>
</div>
