{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}

{% include '__partials/__page_title_header.html' %}

{% include '__partials/__divider.html' %}

<div class="ui container">
    <div class="ui grid">
        <div class="column">
            <div class="ui green raised segment">
                <img src="{% static 'images/about.png' %}" class="ui fluid image">
            </div>
        </div>
    </div>
</div>

{% include '__partials/__divider.html' %}

<div class="ui justified container">
    <div class="ui grid">
        <div class="column">
            <div class="ui styled fluid accordion">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    From Birth To One Year.
                </div>
                <div class="active content">
                    <div class="ui padded basic segment">
                        <p>Babies develop very quickly during the first year of life. They move from not being able to
                            control limb movements to being able to reach for things and bang them together. In the
                            first
                            few weeks of life, they can’t focus farther than 8 to 12 inches away – just the right
                            distance
                            for her to gaze at your face. They make reflex movements like sucking. Their hearing is
                            fully
                            developed and they might turn toward familiar sounds, such as your voice. They learn about
                            things by feel, sound, sight and smell. Appropriate Toys are designed to match your baby's
                            emerging abilities will help keep him happy, interested and stimulate rapid learning. By 3
                            months, babies start to smile and actively enjoy playtime now. They develop different cries
                            for
                            different needs (hungry, tired, wet) and start to babble and mimic the sounds you make.</p>
                        <p>They can hold head up unsupported for a short time. Hand-eye coordination is improving as
                            they
                            can open and close their hands, bring his hands to his mouth, and push down with his legs if
                            you
                            hold him in a standing position and shake toys. You'll notice them closely tracking objects
                            with
                            eyes and focusing intently on faces. Also starts paying attention to watching and
                            recognizing
                            faces. By 6 months old, they're half way through their first year and fully engaged with the
                            world now. They can – probably sit without your help and roll to their tummy and back again
                            by 7
                            months. The finger muscles are well developed, so they can pull objects closer and can hold
                            toys
                            and move them from one hand to another. Also they start testing cause and effect, such as
                            seeing
                            what happens when shaking a toy.</p>
                        <p>Auditory skills have been improving, so they are more sensitive to your tone of voice and may
                            heed your warning when you tell them "No." They know their names now and turn to look at you
                            when you call them. Babies now can Use sounds to express happiness, sadness and anger. By 9
                            to
                            12 months, you now have a little eager explorer at home. Babies now can get into and out of
                            a
                            sitting position, May stand with support and can pick up small objects using thumb and
                            fingers
                            (pincer grasp).Their babbling sound more like real conversation, and you'll hear their first
                            words – often " Mama " Or " Dada " Soon they will try to repeat words and use gestures to
                            indicate what they want – or don't want. Their hands are increasingly nimble and they like
                            putting things in containers and taking them out again. They can grasp to eat finger
                            food.</p>
                        <p>They also love to explore everyday objects, both in correct ways (using a spoon to eat) and
                            incorrect ways (using a spoon to bang with). Babies love to imitate you, by combing their
                            own
                            hair, drinking from a cup, and pretending to talk on the phone. They now have a favorite
                            object
                            or toy. While they may seem outgoing, they are a little fearful of new things and reserved
                            around strangers. Separation anxiety is normal at this age.</p>
                    </div>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    From One Year To Three Years.
                </div>
                <div class="content">
                    <div class="ui padded basic segment">
                        <p>Busy, is the right word to describe children at this age. Every day, your child’s life is
                            filled
                            with exploration and learning. After their first birthday, babies have gone through a
                            physical
                            transformation. They love to explore all surroundings and can move around much faster.
                            However,
                            they lack the intellectual ability to be able to think ahead, and have little memory of past
                            events - that will be better when they reach 2 years. Therefore surroundings environment
                            need to
                            be constantly monitored for safety. They now can stand alone and walk and stick out their
                            arms,
                            legs and feet to help get dressed and undressed. They also become quite the climber,
                            scrambling
                            onto sofas and chairs.The more they play actively, the more they will develop healthy habits
                            for
                            a balanced life. They have limited social interactions with other children and tend to be
                            self-centered, butthey arelearning how to socialize with other children. This creates new
                            opportunities for cooperative play.</p>
                        <p>Toddlers want to do everything themselves.They like to get clothes on and off, feed
                            themselves
                            with a cup and utensils, and wash their hands. Fine motors have been more developed, so we
                            can
                            see them doodle with a crayon, build towers of four or more blocks, throw a ball, and enjoys
                            filling and emptying containers. You might notice the first signs that indicate whether the
                            child will be left or right handed. At this age they are very observant and learn by
                            watching
                            and imitating other especially their parents. Role playing starts now and continues
                            throughout
                            childhood as a creative and imaginative form of play.</p>
                        <p>During this age, children are absorbing language at a rapid rate.Language at this age is not
                            only
                            about the sounds your child makes, it's also about how your child understands what you say
                            to
                            him and how he tells you what he wants and needs. Some toddlers may not verbalize as much as
                            others, but by the middle of the second year, they may use about ten familiar words, likeno,
                            mama and several other words. Toddlers like to use gestures to get their ideas across, and
                            it's
                            common for them to invent words for special objects. They can follow two-step directions,
                            such
                            as "Pick up your book and bring it to me." Cognitive milestones are the ways he learns to
                            think,
                            explore, learn and solve new problems.</p>
                        <p>Toddlers start to know the use of everyday objects, such as a spoon, a toothbrush or phone.
                            They
                            can now make the connection between a word you say and a picture in a book. They like to
                            test
                            cause and effect, such as what happens when he throws his cup on the floor. They feel very
                            satisfied when they know how to point to their own head, eyes, ears, nose or mouth.
                            Separation
                            anxiety began to decrease. They would be more comfortable playing alongside other children
                            and
                            spending time with other caregivers. They will grow increasingly independent - and possibly
                            become more courageous.</p>
                    </div>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    From Four Years To Six Years.
                </div>
                <div class="content">
                    <div class="ui padded basic segment">
                        <p>By this age, children have become more Curious, Energetic, Sociable and Independence. They
                            are
                            funny and love to play with language to tell silly jokes. They have improved motor skills
                            and
                            can now run, hop, skip and jump without tripping over their own feet.Their improved balance
                            and
                            coordination allows them to vary the speed, direction and type of movement. They are able to
                            throw, catch, bounce and kick balls.They also can start to move in different ways at the
                            same
                            time to do things like swim, dribble a basketball or dance. Finger dexterity is also well
                            developed. Children can hold a pencil - using a tripod grip (two fingers and a thumb) - to
                            trace
                            easy writing patterns. they can draw basic shapes, write letters and numbers andcut out
                            basic
                            shapes with scissors.</p>
                        <p>They have also become much more independent with dressing, washing, brushing his teeth and
                            eating. Developed hand-eye coordination allows them to judge distance, comprehend positions,
                            and
                            to match and categorize objects. Child's vision is as accurate as an adult now. Your child
                            can
                            concentrate for longer periods of time, and is ready for more complex toys such as jigsaw
                            puzzles, lacing beads, and supplies for drawing, painting and coloring.They can stick with
                            an
                            activity for 15 minutes and finish a short project. By this age, children learn facts and
                            begin
                            to grasp some basic concept. They canrecognize and name colors and basic shapes, know the
                            letters of the alphabet and letter sounds and count groups of objects up to 10 and recite
                            numbers to 20. They can now make plans about how to play, what to build or what to draw.</p>
                        <p>The most obvious feature at this age is the use of language. Children are able to describe
                            things
                            in detail, express their feelings and convey concepts like time, size and numbers.Their
                            language
                            have become comprehension and expressive more complete asmost children understand and can
                            use
                            thousands of words, usually in sentences five to eight words long. They can talk about
                            things
                            that are going to happen as well as things that have already happened, as Perception of Time
                            has
                            been developed. Simple multi-step directions can be followed by this age. Children's social
                            and
                            emotional development tends to go beyond making friends and expressing feelings. They start
                            understanding more complicated things like right and wrong and have developed more control
                            over
                            their emotions and a willingness to please others.</p>
                        <p>They like to play in groups and have great pleasure in making friends. They are starting to
                            share
                            toys and wait for their turn, and looking after the belongings of others. They also begin to
                            prefer same-gender friendships; become jealous of other people spending time with their
                            friends.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '__partials/__page_footer_padding.html' %}

{% endblock content %}