{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}

{% include '__partials/__page_title_header.html' %}

{% include '__partials/__divider.html' %}

<div class="ui container">
    <div class="ui grid">
        <div class="seven wide centered column">
            <div class="ui basic segment">
                <img src="{% static 'images/about.png' %}" class="ui fluid image">
            </div>
        </div>
        <div class="nine wide justified column">
            <div class="ui basic segment">
                <p>The earliest examples of wood working are over 5,000 years old, found in the tomb of Semerkhet. Many
                    of
                    the pharaohs were buried with objects that had African ebony veneer and ivory inlays. According to
                    some
                    scholars, Egyptians were the first to varnish, or finish their woodwork, though no one knows the
                    composition of these finishes. Finishing is the art of placing some kind of protective sealant on
                    wood
                    materials in order to preserve them.</p>
            </div>
            <div class="ui basic segment">
                <p>Ancient Egyptian woodworkers used a variety of tools, including axes, adzes, chisels, pull saws, and
                    bow drills. During the earliest pre-dynastic period (circa 3100 B.C., about the time of the first
                    pharaoh), they also used mortise and tenon joints to join pieces of wood. Pegs, dowels, and leather
                    or cord lashings strengthened these joints. Animal glue was used during the New Kingdom period (1570
                    - 1069 B.C.).</p>
            </div>
        </div>
    </div>
</div>

{% include '__partials/__divider.html' %}

<div class="ui container">
    <div class="ui grid">
        <div class="justified column">
            <div class="ui basic segment">
                <p>Egyptologists found the world's oldest piece of plywood in a third dynasty coffin. It was made of six
                    layers of wood four millimetres thick held together by wooden pegs. The Egyptians used a variety of
                    wood
                    to build their furniture and other objects.</p>
            </div>
            <div class="ui basic segment">
                <p>The wood came from native acacias, local sycamore, and tamarisk trees. However, when deforestation
                    occurred in the Nile Valley starting from the Second Dynasty, they began importing cedar, Aleppo
                    pine,
                    beechwood, boxwood, and oak from various parts of the Middle East and Europe. They also imported
                    ebony
                    from Egyptian colonies and used it to construct items that went into tombs such as inlaid wooden
                    chests.</p>
            </div>
            <div class="ui basic segment">
                <p>This is why Edu-Fun was created and established in Egypt. This long history of working with wood to
                    produce quality furniture has been one of the many influences for starting our company. Today, we
                    have
                    expanded exponentially around the globe with our newest factory opening in Melbourne, Australia.
                    Australia has long required a solid market leader for producing quality furniture and safety
                    products
                    for children, that until now has largely remained untapped.</p>
            </div>
            <div class="ui basic segment">
                <p>And so, we would like to welcome you to Edu-Fun and thank you for helping us make the world a better
                    place for future generations through Education, and utilising environmentally sustainable
                    products.</p>
            </div>
        </div>
    </div>
</div>

{% include '__partials/__divider.html' %}

<div class="ui container">
    <div class="ui grid">
        <div class="centered eight wide column">
            <div class="ui raised segment">
                <img src="{% static 'images/about.png' %}" class="ui fluid image"/>
            </div>
        </div>
        <div class="centered eight wide column">
            <div class="ui raised segment">
                <img src="{% static 'images/about.png' %}" class="ui fluid image"/>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="column">
            <div class="ui very padded center aligned basic segment">
                <p>Early beginning of Edu-Fun learning material and furniture 1988.</p>
            </div>
        </div>
    </div>
</div>

{% include '__partials/__page_footer_padding.html' %}

{% endblock content %}