{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page }}{% endblock title %}
{% block content %}

{% include '__partials/__page_title_header.html' %}

{% include '__partials/__divider.html' %}

<div class="ui container">
    <div class="ui grid">
        <div class="column">
            <div class="ui basic segment">
                <img src="{% static 'images/about.png' %}" class="ui fluid image">
            </div>
        </div>
    </div>
</div>

{% include '__partials/__divider.html' %}

<div class="ui container">
    <div class="ui grid">
        <div class="justified column">
            <div class="ui basic segment">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Semper viverra nam libero justo laoreet sit amet cursus sit. Egestas
                    maecenas pharetra convallis posuere morbi leo. Fermentum posuere urna nec tincidunt praesent semper
                    feugiat. Faucibus interdum posuere lorem ipsum dolor sit. Turpis nunc eget lorem dolor sed viverra
                    ipsum. Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. Habitasse platea dictumst
                    quisque sagittis purus sit. Blandit cursus risus at ultrices mi tempus imperdiet. In egestas erat
                    imperdiet sed euismod nisi porta lorem. Ridiculus mus mauris vitae ultricies leo integer. Sit amet
                    commodo nulla facilisi nullam vehicula ipsum a arcu. Tristique et egestas quis ipsum suspendisse
                    ultrices gravida dictum fusce. Integer eget aliquet nibh praesent tristique magna sit. Odio tempor
                    orci dapibus ultrices in iaculis. Nunc mattis enim ut tellus.
                </p>
            </div>
            <div class="ui basic segment">
                <p>Volutpat commodo sed egestas egestas. Adipiscing enim eu turpis egestas pretium aenean pharetra
                    magna. Lacus laoreet non curabitur gravida arcu. Sit amet nulla facilisi morbi tempus iaculis urna
                    id. Massa enim nec dui nunc mattis enim ut. Vitae turpis massa sed elementum tempus egestas sed sed
                    risus. In hac habitasse platea dictumst vestibulum. Hac habitasse platea dictumst quisque. Ipsum
                    consequat nisl vel pretium lectus quam id leo. Aenean vel elit scelerisque mauris pellentesque
                    pulvinar pellentesque habitant morbi. Bibendum neque egestas congue quisque. Odio morbi quis commodo
                    odio aenean sed adipiscing. Vulputate sapien nec sagittis aliquam malesuada. Pulvinar etiam non quam
                    lacus.</p>
            </div>
        </div>
    </div>
</div>

{% include '__partials/__page_footer_padding.html' %}

{% endblock content %}
